<!DOCTYPE html>
<html>
 
<head>
    <title>
      Login For MSM
    </title>
</head>

<body style="text-align: center">
    <h2>
    <img src="C:\Users\Lokesh M\corestack\MSM\templates\msmlogo.jpeg" alt="MSM_logo" width="120"
     height="120" align = "center">
    </h2>
    <h4>
      Login to MSM
    </h4>
    <form action="#" method="post"
          enctype="multipart/form-data">
        Username:
        <input type="text" name="Username">
        <br><br>
        Password:
        <input type="text" name="Password">
        <br><br>
        <button type="submit" formmethod="GET">
          Login
        </button>
        <br>
        <br>
        <div id="login_page"></div>
    </form>
</body>
</html>
