<html>
<head>
<title> Sign Up Page </title>
<link rel = "stylesheet" href = "signup_style.css">
</head>
  <body>
  <div class = "Sign-up-form">
    <img src = "msmlogo.jpeg" alt="MSM_logo" width="120"
    height="120">
    <h1> Sign Up Now </h1>
    <form>
    <input type = "Full Name" class = "input-box" placeholder = "Your Full name">
    <input type = "Email" class = "input-box" placeholder = "Your Email">
    <input type = "User_name" class = "input-box" placeholder = "Username">
    <input type = "Password" class = "input-box" placeholder = "Password">
    <h5>Username & Password will be used for Login</h5>
    <button type = "button" class = "signup-btn">Sign up</button>
    <br>
    <br>
    <hr>
    <p>Do you have an account ? <a href = "login.html">Sign in</a></p>
    </form>
  </div>  
  </body>
</html>